#
# Kconfig - nRF9160 innblue 22 board configuration
#
# 2018, 2019, 2020 by innblue
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_NRF9160_INNBLUE22 || BOARD_NRF9160_INNBLUE22NS



endif # BOARD_NRF9160_INNBLUE22 || BOARD_NRF9160_INNBLUE22NS
