# Discovery IoT L475 board configuration

# Copyright (c) 2017 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

if BOARD_UBLOX_C030_R412

config BOARD
	default "ublox_c030_r412"

if UART_CONSOLE

config UART_2
	default y

endif # UART_CONSOLE

if MODEM

config UART_1
	default y

config MODEM_UBLOX_SARA
	default y

choice MODEM_UBLOX_SARA_VARIANT
	default MODEM_UBLOX_SARA_R4
endchoice

config UART_INTERRUPT_DRIVEN
	default y

endif # MODEM

endif # BOARD_UBLOX_C030_R412
