# Discovery IoT L475 board configuration

# Copyright (c) 2017 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

if BOARD_UBLOX_C030_U201

config BOARD
	default "ublox_c030_u201"

if UART_CONSOLE

config UART_1
	default y

endif # UART_CONSOLE

endif # BOARD_UBLOX_C030_U201
