# InnBlue Skyygate SIM800 board configuration

# Copyright (c) 2020 InnBlue
# SPDX-License-Identifier: Apache-2.0

config BOARD_SKYYGATE_SIM800
	bool "InnBlue Skyygate SIM800 board"
	depends on SOC_STM32L475XX
