# Kconfig - nRF9160 innblue v1.1 board configuration
#
# 2018, 2019, 2020 by innblue
#


if BOARD_NRF9160_INNBLUE11 || BOARD_NRF9160_INNBLUE11NS


endif # BOARD_NRF9160_INNBLUE11 || BOARD_NRF9160_INNBLUE11NS
